@page "/"

<HeroBanner 
    Title="Sitecore Community" 
    SubTitle="Get up and running quickly" />

<div className="cta-cards">
    <Container MaxWidth="@MaxWidth.Large">
	    <CallToActionCards />
    </Container>
</div>

<Container MaxWidth="@MaxWidth.Large" class="grey">
	<LatestNewsAndArticles AssetPath="_content/edge-portal-apps/" />
</Container>